
/* General */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Aleo', sans-serif;
  margin: 0 auto;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:active {
  color: lightgrey;
}

a:visited {
  color: black;
}

a:hover {
  color: orange;
}

.span {
  color: orange;
}

/* Header */

header {
  background-color: #f2f0ee;
}

header h1 {
  /* margin: 0 auto;
  padding-top: 25px; */
  margin-top: 0;
  padding-top: 25px;
}
/* code above removed top white space of header */
/* either code works */

.header-bottom {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header-bottom img {
  max-width: 70%;
}

.header-bottom p {
  padding-bottom: 25px;
}

.name {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 20px 10px;
  padding: 0;
}

nav ul li {
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav li {
  width: 90%;
  margin: 0 auto;
  display: block;
}

nav a {
  color: #000;
}


/* Main */

main img {
  max-width: 100%;
}

#main-content {
  margin: 0;
  padding: 0;
  list-style: none;
}

#wrapper {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.main-title {
  padding-top: 25px;
  padding-bottom: 25px;
}

#main-content p {
  padding-bottom: 25px;
}

.bottom-content {
  background-color: #f2f0ee;
}

.bottom-wrapper {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}


/* Footer */

.footer-content {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  padding: 25px;
}

footer hr {
  width: 95%;
  color: lightgrey;
}

footer {
  background-color: #f2f0ee;
}

.desktop {
  display: none;
}






/* Media Queries */

@media (min-width: 768px) {

  /* Navigation */

  nav li {
    width: 90%;
    margin: 0 auto;
    padding: 25px;
    display: inline;
  }

  .name h1 {
    font-size: 24px;
  }


  /* Header Img */

  .header-img {
    float: right;
    margin-left: 25px;
    width: 300px;
    height: 175px;
  }

  .header-bottom {
    width: 90%;
    padding-top: 25px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  #main-content li {
    float: left;
    width: 45%;
    margin: 2.5%;
  }
  /* code above puts main content into 2 columns */

  footer {
    clear: both;
  }
  /* code above puts footer below main content  */

  .mobile {
    display: none;
  }

  .footer-content .footer-name {
    display: block;
    margin-right: auto;
  }

  .desktop {
    display: inline-block;
    padding-left: 25px;
  }

  .bottom-width {
    width: 60%;
    margin: 0 auto;
  }

  nav ul li {
    background-color: #f2f0ee;
  }

  #main-content li:nth-last-of-type(2n) {
    clear: left;
  }

}


@media (min-width: 1024px) {

  #main-content li {
    width: 28.3333%;
  }

  #main-content li:nth-last-of-type(2n) {
    clear: none;
  }

  #main-content li:nth-child(3n + 1) {
   clear: left;
  }

  .bottom-width {
    width: 40%;
    margin: 0 auto;
  }

  nav {
    background: none;
    float: right;
    margin-right: 5%;
    text-align: right;
    width: 45%;
    padding-top: 10px;
  }

  .name {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  .header-img {
    margin-top: 50px;
    width: 400px;
    height: 225px;
  }

  #header-p {
    margin-top: 100px;
    max-width: 50%;
  }

  .header-bottom {
    padding-bottom: 25px;
  }

}
